body{
  overflow: hidden;
}
nav{
  background-color: #FFDBDC;
}
nav form{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  
}
nav form div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #AAAAAA;
  border-radius: 10px;
  background-color: #fce9ea;
}
div button{
  width: 70%;
  margin: 5px;
}
.input-email{
  padding: 5px;
  
}
.delete:hover{
  color: red;
} 


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    background-color: #F9FBFD;
    color: black;
    text-align: center;
  }
  .footer select{
    background-color: #C4EED0;
    border: 0px;
    padding: 10px;
    border-radius: 3px;
    margin-right: 15px;
  }
  #myProgress {
    width: 50%;
    background-color: grey;
  }
  
  #myBar {
    display: none;
    width: 0%;
    height: 30px;
    background-color: green;
  }
